.header {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 10% 20% auto;
}

.logout {
  height: 30%;
  width: 20%;
  margin-top: 45px;
  justify-self: end;
}

.logo {
  justify-self: end;
  margin-right: 10px;
}

.header-text {
  margin-top: 50px;
}

.menu {

}

.app {
  margin-left: 150px;
  margin-right: 150px;
}

.teamtable {
  margin-top: 10px;
  width: 70%;
}

.season-select {
  margin-top: 15px;
}

.filter-menu {
  display: inline-grid;
  grid-template-columns: 80px 50px ;
}

.teamWrapper {
  margin-top: 25px;
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto auto;
}
